.body{
  font-family: 'sans-serif';
}

.headerDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-family: "Raleway";
  background-color: #472915;
  font-family: 'sans-serif';
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.sectionHeader{
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.imageHeader{
  display: flex;
  align-items: center;
}

.heading{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
    margin-left: 20px;
}

.sections{
  color: #FFFFFF;
  font-size: 16px;
  width: 140px;
  padding: 3px 0px;
  text-align: center;
  cursor: pointer;
}

.sections:hover{
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #023b6d;
  font-weight: 600;
}

.aboutMainDiv{
  background-image: linear-gradient(to bottom, #472915, #F2EDE9);
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'sans-serif';
  @media screen and (max-width: 1000px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.aboutSubDiv{
  border-radius: 15px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #FFFFFF;
  box-shadow: 6px 6px 6px lightgray;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  @media screen and (max-width: 1000px) {
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
  }
}

.cardDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  padding: 20px;
  @media screen and (max-width: 1000px) {
    margin-right: 0px;
  }

}

.nameHeading{
  font-size: 30px;
  font-weight: 500;
  margin-top: 30px;
}

.about{
  margin-bottom: 20px;
  color: gray  !important;
  font-weight: 600;
  font-size: 20px;
}

.aboutContent{
  max-width: 400px;
  font-size: 16px;
  line-height: 30px;
}

.coloredDiv{
  background-color: #F2EDE9;
  color: #60371B;
  font-family: 'sans-serif';
}

.eduDiv{
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  font-size: 30px;
  font-weight: normal !important;
  text-decoration: underline;
}

.educationsDetails{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 25px;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.eduDetails{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  max-width: 500px;
  text-align: center;
}

.year{
  margin-bottom: 10px;
  margin-top: 0px !important;
  font-size: 16px;
}

.companyOrInstitute{
  margin-bottom: 10px;
  margin-top: 0px !important;
  font-size: 16px;
}

.education{
  margin-top: 20px;
  font-size: 14px;
  line-height: 25px;
}

.experienceMainDiv{
  display: flex;
  background-color: #FFFFFF;
  color: black;
  font-family: 'sans-serif';
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }
}

.experienceDetails{
  list-style-type: none;
  width: 50%;
  @media screen and (max-width: 1000px){
    width: 80%;
  }
}

.experienceHeadingDiv{
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  font-size: 30px;
  font-weight: normal !important;
  width: 50%;
}

.expSubDetails{
  margin-top: 40px;
  margin-bottom: 40px;
}

.projectsMainDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.personalProjectsDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.mobileProjectDiv{
  display: none;
  @media screen and (max-width: 1000px){
    display: flex;
    justify-content: center;
  }
}

.imageDiv{
  display: flex;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.projectDiv{
  @media screen and (max-width: 1000px) {
    text-align: center;
  }
}

.projectContentDiv{
  max-width: 600px;
  padding: 20px;
}

.projectHeading{
  font-size: 16.5px;
  font-weight: 600;
}

.projectDescription{
  line-height: 20px;
  font-size: 14px;
}

.imgDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactDiv{
  background-color: #472915;
  font-family: 'sans-serif';
  color: #FFFFFF;
  font-size: 15px;
  padding: 30px 0px;
}

.contactSection{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.sectionSubDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  width: 350px;
  padding-bottom: 15px;
}
